# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
card-front/node_modules
card-front/.pnp
card-front/.pnp.js

# testing
card-front/coverage

# production
card-front/build

# misc
card-front/.DS_Store
card-front/.env.local
card-front/.env.development.local
card-front/.env.test.local
card-front/.env.production.local

card-front/npm-debug.log*
card-front/yarn-debug.log*
card-front/yarn-error.log*
